@import "tailwindcss";

.default-photo {
    border-radius: 15px;
    padding: 5px;
    width: 15vw;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: center;
    min-width: 150px;

}


.comment-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid #2d4654ff;
    border-radius: 15px;
    padding: 7px;
    margin: 10px;
}


@layer components {
  .base-text {
    @apply text-base normal-case font-medium text-olive-100;
  }
  .base-border {
    @apply border rounded-md px-3.5 py-2 opacity-100 shadow-zinc-500/50 bg-transparent border-slate-600 hover:border-slate-300 w-80 focus:border-slate-800;
  }
  .component-border {
    @apply rounded-lg shadow-md p-6 border bg-white dark:bg-gray-800 border-gray-200 dark:border-gray-700 w-1/2 text-md normal-case font-medium text-olive-100;
  }
}
